* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: 50px;
}

h1 {
    padding: 50px 25%;
    background-color: darkgrey;
}

.main-container {
    padding: 0 25%;
}

.button {
    background-color: #0b6efd;
    padding: 20px;
    border: 0px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    color: #ffffff;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 10px;
}